# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/storybook-static

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
/.github/
/.storybook/


### Linux ###
*~

# temporary files
.fuse_hidden*

# KDE directory preferences
.directory

# trash folder
.Trash-*

# .nfs files
.nfs*


# thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin
$RECYCLE.BIN/

# Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# shortcuts
*.lnk
